-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

aiokatcp
async_timeout
attrs
bokeh
click==7.0              # for distributed
cloudpickle==1.3.0      # for distributed
dask[array,distributed]
distributed==2.12.0
docutils
heapdict==1.0.1         # for distributed
jsonschema
matplotlib
numba
numpy
psutil==5.7.0           # for distributed
scipy
sortedcontainers
spead2
tblib==1.6.0            # for distributed
zict==2.0.0             # for distributed

katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpservices[argparse,aiomonitor] @ git+https://github.com/ska-sa/katsdpservices
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
