-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

dask[array]
future                   # for scikits.fitting
numba
numpy
scipy
scikits.fitting==0.7.2
sortedcontainers

katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
